<br/>
<h2>Sign up</h2>
<br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class= "form-group">
    <%= f.label :username, class: "col-sm-2 control-label" %>
    <%= f.text_field :username, class: "form-control", autofocus: true, autocomplete: "email" %>
    <% if @user.errors[:username].any? %>
      <div class="error_messages">
        <%= @user.errors[:username].join(", ") %>
      </div>
    <% end %>
  </div>
<br/>
  <div class= "form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    <% if @user.errors[:email].any? %>
      <div class="error_messages">
        <%= @user.errors[:email].join(", ") %>
      </div>
    <% end %>
  </div>
<br/>

  <div class= "form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
    <% if @user.errors[:password].any? %>
      <div class="error_messages">
        <%= @user.errors[:password].join(", ") %>
      </div>
    <% end %>
  </div>
<br/>

  <div class= "form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    <% if @user.errors[:password_confirmation].any? %>
      <div class="error_messages">
        <%= @user.errors[:password_confirmation].join(", ") %>
      </div>
    <% end %>
  </div>
<br/>

<%= f.hidden_field :role, value: 'user' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
<br/>

<%= render "devise/shared/links" %>
