<%= form_with model: @user, url: @user.new_record? ? users_path : update_user_path(@user), class: "container mt-4", local: true do |form| %>

  <div class="mb-3 row">
    <%= form.label :username, class: "col-sm-2 col-form-label bold-label" %>
    <div class="col-sm-10">
      <%= form.text_field :username, class: "form-control" %>
      <% if @user.errors[:username].any? %>
        <div class="text-danger mt-2">
          <%= @user.errors[:username].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>

  <div class="mb-3 row">
    <%= form.label :email, class: "col-sm-2 col-form-label bold-label" %>
    <div class="col-sm-10">
      <%= form.text_field :email, class: "form-control" %>
      <% if @user.errors[:email].any? %>
        <div class="text-danger mt-2">
          <%= @user.errors[:email].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>
  <br/>

  <div class="mb-3 row">
    <div class="col-sm-10 offset-sm-2">
      <%= form.submit class: "btn btn-primary w-25" %>
    </div>
  </div>
<% end %>
