<br/>
<h4 class="text-center text-uppercase font-weight-bold">Settings Section</h4>
<hr class="my-4 w-50 mx-auto"/>
<br/>
<div class="settings p-5 border rounded shadow-lg bg-white">
  <ul class="settings-items list-unstyled mb-0">  
    <li class="mb-4">
      <%= link_to "Add Tags", tags_path, class: "btn btn-primary btn-lg btn-block" %>
    </li>
    <li class="mb-4">
      <%= button_to 'Delete User', destroy_user_path(@user), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure delete User?' }, class: "btn btn-danger btn-lg btn-block" %>
    </li>
    <li class="mb-4">
      <% if current_user.current_subscription.present? %>
        <%= button_to 'Cancel Subscription', destroy_subscription_path(@subscription.stripe_subscription_id), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to cancel your subscription?' }, class: "btn btn-danger btn-lg btn-block" %>
      <% else %>
        <%= link_to 'Subscription', subscriptions_path, class: "btn btn-warning btn-lg btn-block" %>
      <% end %>
    </li>
  </ul>
</div>

<div class="text-center mt-5">
  <%= link_to 'Back to My Post', profile_path, class: "btn btn-outline-secondary mx-2 mb-2 btn-lg" %> 
  <%= link_to 'Go to All Posts', dashboard_path, class: "btn btn-outline-secondary mx-2 mb-2 btn-lg" %> 
  <% if current_user.admin? %>
    <%= link_to 'Back to User List', user_index_path, class: "btn btn-outline-secondary mx-2 mb-2 btn-lg" %>
  <% end %>
</div>
<br/>
