<br /><br />
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Log in</h2>
          </div>
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "col-sm-2 control-label fw-bold" %>
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
                <% if @user.errors[:email].any? %>
                  <div class="error_messages text-danger">
                    <%= @user.errors[:email].join(", ") %>
                  </div>
                <% end %>
              </div>
              <br/>

              <div class="form-group">
                <%= f.label :password, class: "col-sm-2 control-label fw-bold" %>
                <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
                <% if @user.errors[:password].any? %>
                  <div class="error_messages text-danger">
                    <%= @user.errors[:password].join(", ") %>
                  </div>
                <% end %>
              </div>
              <br/>

              <% if devise_mapping.rememberable? %>
                <div class="form-group fw-bold">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
              <br/>

              <div class="form-group">
                <div class="text-center">
                  <%= f.submit "Log in", class: "btn btn-primary w-100 fw-bold" %>
                </div>
              </div>
            <% end %>
            <br/>
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>