<%= form_with model: @post, url: @post.new_record? ? posts_path : update_post_path, class: "container mt-4", local: true do |form| %>
  <div class="mb-3 row">
    <%= form.label :image, class: "col-sm-2 col-form-label bold-label" %>
    <div class="col-sm-10">
      <%= form.file_field :image, class: "form-control" %>
      <% if @post.errors[:image].any? %>
        <div class="text-danger mt-2">
          <%= @post.errors[:image].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :title, class: "col-sm-2 col-form-label bold-label" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: "form-control" %>
      <% if @post.errors[:title].any? %>
        <div class="text-danger mt-2">
          <%= @post.errors[:title].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.label :description, class: "col-sm-2 col-form-label bold-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, class: "form-control", rows: 3 %>
      <% if @post.errors[:description].any? %>
        <div class="text-danger mt-2">
          <%= @post.errors[:description].join(", ") %>
        </div>
      <% end %>
    </div>
  </div>

  <% if Tag.any? %>
    <div class="mb-3 row">
      <%= form.label :tags, class: "col-sm-2 col-form-label bold-label" %>
      <div class="col-sm-10">
        <%= form.collection_select :tag_ids, Tag.all.ordered_alphabetically, :id, :name, {}, { multiple: true, class: 'form-control' } %>
      </div>
    </div>
  <% else %>
    <div class="mb-3">
      <%= link_to "Add Tags", tags_path, class: "btn btn-link" %>
    </div>
  <% end %>

  <div class="mb-3 row">
    <div class="col-sm-10 offset-sm-2">
      <%= form.submit class: "btn btn-primary w-25" %>
    </div>
  </div>
<% end %>
