<br/>
<h2>Post</h2>
<br/>

<div class="card-body">

  <div class= "username mb-1">
    <% if @post&.user&.profile&.avtar&.attached? %>
      <div class="avtar-preview">
        <%= image_tag @post.user.profile.avtar_variant, class: 'postavtar' %>
        <% if @post.user.profile.present? %>
          <span><strong><%= @post.user.profile.first_name %></strong></span>
        <% else %>
          <span><strong><%= @post.user.username %></strong></span>
        <% end %>
      </div>
    <% else %>
      <div class="avtar-preview">
        <%= image_tag 'default_avtar.png', class: 'postavtar' %>
        <% if @post.user.profile.present? %>
          <span><strong><%= @post.user.profile.first_name %></strong></span>
        <% else %>
          <span><strong><%= @post.user.username %></strong></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @post.image.attached? %>
    <%= image_tag url_for(@post.image), class: "img-thumbnail custom-img-size mb-2" %>
  <% end %>
  <p><strong>Post ID:</strong> <%= @post.id %></p>
  <p><strong>Title:</strong> <%= @post.title %></p>
  <p><strong>Description:</strong> <%= @post.description %></p>
  <% if @post.tags.any? %>
    <p class="card-title "><strong>Tags:</strong>
    <% @post.tags.each do |tag| %>
    <span class= "tag text-white bg-dark rounded p-1"><%= tag.name %></span>
    <% end %>
    </p>
  <% else %>
    <p class="card-title"><strong>No Tags available</strong></p>
  <% end %>
<br/>

  <!-- toggle button for liking/disliking -->
  <div class= "post-container-toggle d-flex align-items-center">
    <div class= "count-toggle">
      <span class="likes-count">
        <%= @post.likes.count %>
      </span>
    </div>
    <div class="toggle">
      <% if @post.likes.where(user: @user).exists? %>
        <%= form_with(url: destroy_like_path(user_id: @user.id, id: @post.likes.find_by(user: @user).id), method: :delete) do |form| %>
          <%= form.radio_button :like, true, id: "like1", class: "d-none" %>
          <%= form.label :like, class: "like-btn btn btn-outline-danger", id: "liked", for: "like1" do %>
            <span class = "like-text" id="like-text1">Liked</span>
          <% end %>
        <% end %>
      <% else %>
        <%= form_with(url: likes_path(user_id: @user.id, post_id: @post.id), method: :post) do |form| %>
          <%= form.radio_button :like, true, id: "like2", class: "d-none" %>
          <%= form.label :like, class: "like-btn btn btn-outline-danger", id: "like", for: "like2" do %>
            <span class = "like-text" id="like-text2">Like</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<br/>

<% if can? :edit, @post %>
  <%= link_to 'Edit', edit_post_path, class: "btn btn-warning" %> |
  <%= link_to 'Back to My Posts', profile_path, class: "btn btn-secondary" %> | 
  <% if current_user.admin? %>
    <%= link_to 'Back to UserList', user_index_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Back to Posts', dashboard_path, class: "btn btn-secondary" %>
  <% end %>
  <br/><br/>
  <%= button_to 'Destroy', destroy_post_path, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure delete Post?' }, class: "btn btn-danger" %>
<% else %>
  <% if current_user.admin? %>
    <%= link_to 'Back to UserList', user_index_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Back to Posts', dashboard_path, class: "btn btn-secondary" %>
  <% end %>
<% end %>
</div>